# Keybindings require three things to be fully defined: A selector that is
# matched against the focused element, the keystroke and the command to
# execute.
#
# Below is a basic keybinding which registers on all platforms by applying to
# the root workspace element.

# For more detailed documentation see
# https://atom.io/docs/latest/advanced/keymaps
'.platform-darwin .workspace':
  'cmd-shift-b': 'remote-edit:browse'
  'cmd-shift-o': 'remote-edit:show-open-files'

'.platform-darwin .openfilesview.select-list':
  'shift-d': 'openfilesview:delete'

'.platform-darwin .hostview.select-list':
  'shift-d': 'hostview:delete'
  'shift-e': 'hostview:edit'

'.platform-darwin .filesview.select-list':
  'shift-o': 'filesview:open'
