# Keybindings require three things to be fully defined: A selector that is
# matched against the focused element, the keystroke and the command to
# execute.
#
# Below is a basic keybinding which registers on all platforms by applying to
# the root workspace element.

# For more detailed documentation see
# https://atom.io/docs/latest/advanced/keymaps
'.platform-darwin':
  'ctrl-cmd-b': 'remote-edit:browse'
  'ctrl-cmd-o': 'remote-edit:show-open-files'

'.platform-win32, .platform-linux':
  'ctrl-alt-b': 'remote-edit:browse'
  'ctrl-alt-o': 'remote-edit:show-open-files'

'.open-files-view.select-list':
  'shift-d': 'openfilesview:delete'

'.hosts-view.select-list':
  'shift-d': 'hostview:delete'
  'shift-e': 'hostview:edit'

'.files-view.select-list':
  'shift-o': 'filesview:open'
